h1{
    color: rgb(11, 11, 206);
    text-align: center;
    width: 100%;
    font-weight: 100;
         text-decoration: orange wavy underline;
         letter-spacing: 10px;
         font-size: 80px;
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
p{
    line-height: 2;
    
}
.noty{
    color: blueviolet;
    background-color: green;
}
h3+p{
    background-color: yellow;
}
p:nth-of-type(2n){
    background-color: greenyellow;
}
h2::first-letter{
    color: olive;
    background-color: black;
    font-size: 50px;
 }
 p::first-line{
    color: purple;
 }
 *::selection{
    background-color: maroon;
 }
 div{
    width: 300px;
    height: 100px;
 }
 #one{
    background-color:#e5989b ;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    /* box-sizing: border-box; */
}
 #two{
      background-color: #b5838d;
      border: 4px solid black;
      border-radius: 40px;
      padding: 20px 10px;
      margin: 50px;
 }
 #three{
           background-color:    #6d6875;
           border-left: 4px solid black;
           border-radius: 20% ;
           padding: 40px;
           margin: 20px;
 }
 span{
    background-color:  rgb(72, 18, 18) ;
    border: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    display: block;
 }
 .bal{
    background-color: #6d6875;
    width: 100px;
    height: 100px;
    border: 10px solid rgb(35, 54, 58);
    display:inline-block ;
}
 