label{
    color: orangered;
}
button{
    font-size: 20px;
}
*{
    color:blueviolet;
}
h1,h2{
    color: brown;
}
#sub{
    background-color: brown;
    color: blanchedalmond;
}
p>input{
    background-color: indigo;
}
input[type="text"]{
    color: magenta;
    background-color: magenta;
}
button:hover{
    color: aqua;
}
button:active{
   background-color: burlywood;
}
input[type="checkbox"]:checked +label{
    box-shadow: 0 0 0 3px magenta;
        color: rgb(32, 166, 203);
    
}