h1{
  font-family: "Felipa", serif;
  border-bottom: 2px saddlebrown solid;
    width: 30%;
margin: calc(10%/6); 
text-transform: uppercase;
padding: 1.2em 0;
font-size: 0.5em;
}
img{
    width: 30%;
margin: calc(10%/6);
}